<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>

<center><body>
<h2>Tell me your name!</h2>
<form method="post" action="{{ url_for('home') }}">
<table>
<tr><td align="center">name:</td><td><input type="text" name="name"><br></td></tr>
<tr><td align="center">password:</td><td><input type="password" name="pwd"><br></td></tr>
</table>
<input type="submit" value="Submit" id="submit"><br>
</form>
<small>have no account?<a href='/register'>click here</a></small><br>
<small>have something to bark?<a href='/comment'>click here</a></small>
</body></center>
