<html>
<head>
<meta charset="utf-8">
<!--网页标题-->
<title>文件转换</title>
<!--网页标题左侧显示-->
<link rel="icon" href="./static/images/logo.jpg">
<!--网页自适应调整-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="stylesheet" type="text/css" href="./static/css/a.css"/>
</head>

<body><center>
<br><br>
<h1>文件转换</h1><br>

<br><br>

<a href="Compress-picture">图片压缩</a>
<br><br>
<a href="pdf-to-pic">PDF转图片</a>
<br><br>
<a href="pic-to-pdf">图片转PDF</a>
<br><br>
<a href="combine-pdf">PDF合并</a>


<br><br>
<table border="0">
<tr>
<th>注意事项</th>
</tr>
<tr>
<td>1、请保证您上传的文件中不包含可能会损坏计算机系统的类型</td>
</tr>
<tr>
<td>2、文件上传大小限制为100M</td>
</tr>
</table><br><br>

</center>
</body>

</html>