<html>

<head>
<meta name="baidu-site-verification" content="n2sgl72Lna" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="referrer" content="no-referrer">
<title>WHU Map</title>
<meta name="description" content="Lankning">
<meta name="keywords" content="web_map,网址导航,武大导航,快速导航,常用网址">
</head>


<link rel="shortcut icon" 
href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561143986413&di=1f9ecd992e661a578c9413bfc61a0389&imgtype=0&src=http%3A%2F%2Fpic.gerenjianli.com%2Fxiaohui2046%2Fb39.jpg" 
type="image/jpg">
<br/><br/>
<h1><center>Welcome to WHU Map!</center></h1></br>
<!-- <hr/> -->
<body bgcolor="#E6E6FA"><center>
	
	<form action="http://www.baidu.com/baidu" target="_blank">
	<table bgcolor="#E6E6FA"><tr height="120" align="center"><td>
	<input name=tn type=hidden value=baidu>
	<a href="http://www.baidu.com/"><img src="https://gss0.bdstatic.com/70cFsjip0QIZ8tyhnq/img/logo-80px.gif" alt="Baidu" align="bottom" border="0"></a>
	<input type=text name=word size=35 placeholder="请输入要搜索的内容：">
	<input type="submit" value="百度搜索">
	</td></tr></table>
	</form>

	<table border ="0" cellspacing="10">
		<tr>
			<td width="120" align="center"><a href="https://www.baidu.com/" target="_blank"><img src="../static/images/Baidu.png" alt="Baidu" height="40" width="40" align="center"/></a></td>
			<td width="120" align="center"><a href="https://cn.bing.com/?mkt=zh-CN/" target="_blank"><img src="../static/images/Bing.png" alt="Bing" height="40" width="40" align="center"/></a></td>
			<td width="120" align="center"><a href="https://study.163.com/" target="_blank"><img src="../static/images/Wangyiyun.jpg" alt="Wangyiyun" height="40" width="40" align="center"/></a></td>
			<td width="120" align="center"><a href="https://www.jianshu.com/" target="_blank"><img src="../static/images/jianshu.png" alt="Jianshu" height="40" width="100" align="center"/></a></td>
			<td width="120" align="center"><a href="https://www.jiumodiary.com/" target="_blank"><img src="../static/images/jiumo.png" alt="Baidu"height="40" width="100" align="center"/></a></td>
		</tr>
		
		<tr>
			<td align="center">百度</td>
			<td align="center">必应</td>
			<td align="center">网易云课堂</td>
			<td align="center">简书</td>
			<td align="center">鸠摩</td>
		</tr>
		
		<tr>
			<td align="center"><a href="https://www.runoob.com/" target="_blank"><img src="../static/images/runoob.ico" alt="Runoob" height="40" width="40"  align="center"/></a></td>
			<td align="center"><a href="https://www.w3cschool.cn/" target="_blank"><img src="../static/images/w3cschool.ico" alt="Bing" height="40" width="40" align="center"/></a></td>
			<td align="center"><a href="https://github.com/" target="_blank"><img src="../static/images/github.png" alt="Wangyiyun" height="40" width="40" align="center"/></a></td>
			<td align="center"><a href="http://xueshu.baidu.com/" target="_blank"><img src="../static/images/baiduxs.gif" alt="Jianshu" height="40" width="100" align="center"/></a></td>
			<td align="center"><a href="https://sci-hub.org.cn/" target="_blank"><img src="../static/images/sci-hub.png" alt="Baidu"height="40" width="100" align="center"/></a></td>
		</tr>
		
		<tr>
			<td align="center">菜鸟教程</td>
			<td align="center">w3cschool</td>
			<td align="center">Github</td>
			<td align="center">百度学术</td>
			<td align="center">SCI-HUB</td>
		</tr>
		
		<tr>
			<td align="center"><a href="http://210.42.121.241/" target="_blank"><img src="../static/images/teachingsys.png" alt="Runoob" height="40" width="40"  align="center"/></a></td>
			<td align="center"><a href="http://www.lib.whu.edu.cn/web/default.asp" target="_blank"><img src="../static/images/library.jpg" alt="Bing" height="40" width="40" align="center"/></a></td>
			<td align="center"><a href="http://hpc.whu.edu.cn/" target="_blank"><img src="../static/images/compute.jpg" alt="Wangyiyun" height="40" width="55" align="center"/></a></td>
			<td align="center"><a href="http://ehall.whu.edu.cn/new/index.html" target="_blank"><img src="../static/images/door.jpg" alt="Jianshu" height="40" width="40" align="center"/></a></td>
			<td align="center"><a href="http://202.114.64.162/" target="_blank"><img src="../static/images/rmb.jpg" alt="Baidu"height="40" width="100" align="center"/></a></td>
		</tr>
		
		<tr>
			<td align="center">教务系统</td>
			<td align="center">图书馆</td>
			<td align="center">超算中心</td>
			<td align="center">信息门户</td>
			<td align="center">服务大厅</td>
		</tr>
	</table>
	
	<br/>
	<br/>
	<br/>
	<!-- <hr/> -->
	<small><b>图片来源网络，为避免构成侵权，请图片作者联系zwk.whu@gmail.com</b></small>
</body></center>
</html>