<!DOCTYPE html>
<html>
<head>
<title>流岚雅舍[登录]</title>
<meta charset="utf-8" />
<style type="text/css">
	#big{ width:70%; padding-left:15%;}
	#top{ height:200px;}
	#center{width:100%; overflow:hidden;}
	#foot{ height:100px; background-color:#00FFFF;}
	.bt1 {
		background-color: #008CBA; /* Blue */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}
	input{
		outline-style: none ;
		border: 1px solid #ccc; 
		border-radius: 3px;
		padding: 12px 12px;
		width: 300px;
		font-size: 20px;
	}
</style>
<link rel="stylesheet" type="text/css" href="./static/css/a.css"/>
<link rel="icon" href="../static/images/ico.png">
</head>

<body background="../static/images/bg.jpg">
<div id="big" style="text-align:center">
	<div id="top">
		<a href="/"><img src='../static/images/logo.png' width="50%"></a>
	</div>
	
	<div id="top">
		<form action="" method=post>
		<font color=black size="5">昵称：</font>
		<input class="input" type="text" name="username" placeholder="请输入您的昵称"></input><br/><br/>
		<font color=black size="5">密码：</font>
		<input type="password" name="password"></input><br/><br/>
		<button class="bt1" name="login" value="登录">登录</button>
		</form>
	</div>
</div>
	
</body>