<html>
<head>
<meta charset="utf-8">
<!--网页标题-->
<title>文件驿站</title>
<!--网页标题左侧显示-->
<link rel="icon" href="./static/images/logo.png">
<!--网页自适应调整-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
</head>

<body><center>
<h1>文件类型不安全！</h1><br>
请保证您上传的文件中不包含以下类型：<br>
'exe','sh','com','pif','bat','scr','sys','dll'<br>
<a href="index"><img src='./static/images/shop-logo.png' width='20%' alt='返回上传页面'></a><br>
点按图片返回上传页。<br>
</center>
</body>

</html>