<html>
<head>
<meta charset="utf-8">
<!--网页标题-->
<title>文件驿站</title>
<!--网页标题左侧显示-->
<link rel="icon" href="./static/images/logo.png">
<!--网页自适应调整-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
</head>

<body><center>
<br><br>
<h1>文件驿站</h1><br>

<form action="" method=post enctype=multipart/form-data>
<label for="file">文件名：</label>
<input style="width:200px;height:30px" type="file" name="file" id="file" multiple><br><br><br>
<input style="width:100px;height:30px" type="submit" name="submit" value="提交"><br>
</form><br>
<a href='statement'>使用说明</a>
<br><br>


<table border="0">
<tr>
<th>注意事项</th>
</tr>
<tr>
<td>1、请保证您上传的文件中不包含可能会损坏计算机系统的类型</td>
</tr>
<tr>
<td>2、文件上传大小限制为100M</td>
</tr>
</table><br><br>


<img src='./static/images/shop-logo.png' width='20%'>

</center>
</body>

</html>