<html>
<head>
<meta charset="utf-8">
<!--网页标题-->
<title>文件驿站</title>
<!--网页标题左侧显示-->
<link rel="icon" href="./static/images/logo.png">
<!--网页自适应调整-->
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel='stylesheet' type="text/css" href="../static/css/hello.css">
</head>

<body><center>
<br><br>
<h1>世纪星文传</h1><br>

<div class="scale">
<img src='./static/statement/statement.png'>
</div>

<br>

<img src='./static/images/shop-logo.png' width='20%'>

</center>
</body>

</html>