<!DOCTYPE html>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

<head>
    <meta charset="UTF-8">
    <title>成功登录!</title>
</head>

<center><body>
<h2>Hello,{{ username }}!</h2><br>
<img src='../static/hali.jpg' height="150" width="120"/>
<br><br>
<!--
<tr>
<table border="2">

<td width="80" align="center"><a href = '/moive/mg'><img src='https://cn.bing.com/th?id=OIP.IOer3Hk9O6baic8mqpbkgwHaEK&pid=Api&rs=1' height="100" width="140" align="center"/></a></td>
<td width="80" align="center"><a href = '/moive/zdg'><img src='http://img5.iqilu.com/c/u/2018/1015/1539589430492.jpg' height="100" width="140" align="center"/></a></td>
<td width="80" align="center"><a href = '/moive/bcq'><img src='http://5b0988e595225.cdn.sohucs.com/images/20190121/eea4f487eb374ee791500abcd521c1ef.jpeg' height="100" width="140" align="center"/></a></td>
</tr>

<tr>
<td width="80" align="center"><a href = '/moive/mg'>卖拐</a></td>
<td width="80" align="center"><a href = '/moive/zdg'>钟点工</a></td>
<td width="80" align="center"><a href = '/moive/bcq'>不差钱</a></td>
</tr>
</table>
-->
</body></center>